	
	

		@media(min-width: 992px) 
		  {

	#box1{
				width: 25%;
				float: left;
				
			}
				#box2{
				width: 25%;
				float: left;
				
			}
				#box3{
				width: 25%;
				float: left;
			}
		}
		@media(min-width: 768px) and (max-width: 991px){
				#box1{
				width: 35%;
				float: left;
				
			}
				#box2{
				width: 35%;
				float: left;
				
			}
				#box3{
				width: 81%;
				float: left;

			}

		}
	
		#box1 {
			background-color: gray;
			padding: 10px;
			border: 2px solid black;
			margin: 40px;
			
		}

		#box2 {
			background-color: gray;
			padding: 10px;
			border: 2px solid black;
			margin: 40px;
			}

		#box3 {
			background-color: gray;
			padding: 10px;
			border: 2px solid black;
			margin: 40px;
			
		}
			
		
        #head1{
        	
        	background-color: pink;
        	text-align: right;
        	border:  2px  solid black;
        	top: 100px;
        }
        #head2{
        	background-color: maroon;
        
        	color: white;
        	text-align: right;
        	border:  2px  solid black;
        	top: 100px;
        }
        #head3{
        	background-color: yellow;
        	
        	text-align: right;
        	border:  2px  solid black;
        	top: 100px;
        }
              	
              	
     
        